<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MillenApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PresentList">
        <activity
            android:name=".NotesList.showData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesList.dataEntry_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroceryList.showData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroceryList.dataEntry_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDoList.dataEntry_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDoList.showData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu.mainMenu_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>